<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinobot.cityle.base.mapper.DeptGridMapper">
	<select id="getDeptGrid" resultType="map">
      SELECT
        dp.uuid,
	    cd.dname,
        dp.dept_id,
        dp.grid_id,
        dp.data_status,
        dp.create_by,
        dp.create_time,
        dp.operate_by,
        dp.operate_time 
    FROM 
        cle_dept_grid dp 
	    left join cle_dept cd on dp.dept_id = cd.uuid 
        WHERE 1=1 
       <if test="p.data_status != null and p.data_status != ''">
         AND dp.data_status = #{p.data_status}
       </if>
        <if test="p.grid_id != null and p.grid_id != ''">
         AND dp.grid_id = #{p.grid_id}
       </if>
       AND dp.dept_id is not null 
	</select>
</mapper>
